/****MAIN PAGE CONTENT*/
html{
  font: 100%;
}

* {
  box-sizing: border-box;
}

body{
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 300;
}

.wrapp{
  max-width:
}

li{
  display: inline-block;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 320px) {
  .kontainer{
    width: 100%;
  }
}

@media screen and (min-width:320px) and (max-width: 550px) {
  .kontainer{
    width: 100%;
  }
}

@media screen and (min-width:550px) {
  .wrapp{
    margin: 10% auto;
  }
  ul{
    margin: 0 auto;
    width: 100%;
  }
  li{
    width: 15%;
  }
}
